---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Welcome to Eric's Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I will put a cool subtitle here when I can think of one</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
